* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    min-height: 1500px;
    background-color: #F6F6F7;
}

#content {
    font-weight: 300;
    margin: 0 auto;
    background-color: #F6F6F7;
    text-rendering: optimizelegibility;
    letter-spacing: .04em;
    color: rgb(49, 56, 79);
    line-height: 1.45em;
}

.inner-container {
    max-width: 900px;
    margin: 0 auto;
}

#content header {
    background-color: #17212D;
    color: #fff;
    padding: 1em;
}

#content h1,
h2,
h3 {
    font-weight: 400;
}

#content-text {
    padding-top: 2em;
}

#content-image img {
    display: block;
    height: 15em;
    margin: 1em auto;
}

#content h1 {
    font-size: 3em;
    line-height: 1em;
}

#content h2 {
    color: #f6e273;
}

#content a {
    color: #000;
}

#content p {
    max-width: 800px;
}

input,
select,
textarea,
button {
    font-family: 'Roboto', sans-serif;
}

button {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    border: 0;
}

button:active,
textarea:active,
input:active,
button:focus,
textarea:focus,
input:focus {
    outline: none;
}

button:hover {
    cursor: pointer;
}

@keyframes progress-animation {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 50px 50px;
    }
}

#prechat {
    text-align: center;
    transition: all .1s ease-out;
    align-self: center;
}

#prechat.hide {
    opacity: 0;
    transform: scale(0.7);
    display: none;
}

#prechat input {
    padding: .4em;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin-top: .2em;
    display: inline-block;
}

#set-data-button {
    background-color: #1e88e5;
    color: #fff;
    font-size: .9em;
    padding: .5em 1em;
    border-radius: 5px;
    margin-top: .5em;
}

#livechat {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 2rem;
    bottom: 3rem;
    right: 2rem;
    left: 2rem;
    transition: all .1s ease-out;
    box-shadow: 0 1.5rem 2rem 0 rgba(0, 0, 0, 0.3);
    border-radius: 0.5rem;
    overflow: hidden;
    opacity: 1;
    font-size: 1.5em;
}

#livechat-minimized {
    width: 4rem;
    height: 4rem;
    background-color: #0D47A1;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0.125rem 0.25rem 0 rgba(0, 0, 0, 0.3);
    z-index: 100;
    opacity: 0;
    transition: all .2s ease-out;
    transform: scale(0.1);
}

#livechat-minimized:hover {
    cursor: pointer;
}

#livechat-minimized.minimized {
    opacity: 1;
    transform: none;
}

#livechat.minimized {
    transform: scale(0.8) translate(10%, 30%);
    opacity: 0;
}


/** RATE CHAT */

.rate-button {
    vertical-align: middle;
}

.rate-button.hide {
    display: none;
}

#minimize {
    color: #fff;
    padding: 0;
}

#livechat.minimized #minimize {
    transform: rotate(180deg);
}

#message-list {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: .5em;
    background-color: #e9eef4;
    overflow-y: auto;
    min-height: 0px;
    position: relative;
}

#message-list>div:last-child {
    padding-bottom: .5em;
}

#livechat-header {
    flex-shrink: 0;
    line-height: 3em;
    padding: .5em 1em;
    height: 4em;
    display: flex;
    justify-content: space-between;
    background-color: #0D47A1;
    color: #fff;
    position: relative;
    z-index: 1;
}

#livechat-header div {
    line-height: 3em;
}

#message-input {
    font-size: 1em;
    padding: 0 1em;
    flex-grow: 1;
    border: 0;
    resize: none;
    height: 3.5em;
    line-height: 3.5em;
}

#message-input::placeholder {
    color: #b2bbc6;
}

.message-container {
    margin-bottom: .5em;
    max-width: 90%;
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;
}

.message {
    background-color: #3e7ce4;
    padding: .9em;
    border-radius: 1.4em 0 1.4em 1.4em;
    color: #fff;
    box-shadow: rgba(0, 0, 0, 0.03) 0px 2px 4px;
    word-wrap: break-word;
    max-width: 200px;
}

.message-container.agent {
    align-self: flex-start;
}

.message-container.agent .message {
    background-color: #fff;
    border-radius: 0 1.4em 1.4em 1.4em;
    color: #5a6976;
}

.message-container.system {
    align-self: center;
}

.message-container.system .message {
    border-radius: 0;
    color: #000;
    box-shadow: none;
    background-color: transparent;
}

.agent-avatar {
    width: 2.8em;
    height: auto;
    border-radius: 50%;
    display: block;
    margin-right: .5em;
}

#footer {
    display: flex;
    background-color: #fff;
    flex-shrink: 0;
}

#send-button {
    background-color: #fff;
    color: #3e7ce4;
    font-size: 1em;
}

/* This rule highlights the send button when there is text in it. */

textarea:invalid + #send-button {
    color: #b2bbc6;
}

#send-button svg {
    fill: currentColor;
}

#offline-message {
    text-align: center;
    background-color: #fff;
    border-radius: .5em;
    padding: .5em;
    color: #5a6976;
    position: absolute;
    top: 4.5em;
    bottom: 5em;
    left: 1em;
    right: 1em;
    box-shadow: rgba(0, 0, 0, 0.03) 0px 2px 4px;
    transition: all .2s ease-out;
    z-index: 10;
    display: flex;
    align-items: center;
}

#queue-message {
    text-align: center;
    background-color: #fff;
    border-radius: .5em;
    padding: .5em;
    color: #5a6976;
    position: absolute;
    top: 4.5em;
    bottom: 5em;
    left: 1em;
    right: 1em;
    box-shadow: rgba(0, 0, 0, 0.03) 0px 2px 4px;
    transition: all .2s ease-out;
    z-index: 10;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

#queue-message.hide {
    opacity: 0;
    display: none;
}

.queue-icon {
    font-size: 3em;
}

#offline-message.hide {
    opacity: 0;
    display: none;
}

.offline-icon {
    font-size: 2em;
}

#connection-message {
    color: #fff;
    position: absolute;
    top: 0;
    transition: all .2s ease-out;
    text-align: center;
    right: 0;
    left: 0;
    font-size: .8em;
    background-image: linear-gradient( -45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
    background-size: 50px 50px;
    animation: progress-animation 2s linear infinite;
    background-color: #90CAF9;
}

#connection-message.hide {
    transform: translateY(-100%);
}

#connection-message.disconnected {
    background-color: #D50000;
}

#typing-indicator {
    position: absolute;
    bottom: 4em;
    z-index: 9;
    left: 0;
    right: 0;
    text-align: center;
    font-size: .8em;
    background-color: rgba(255, 255, 255, 0.7);
    padding: .5em;
}

#typing-indicator.hide {
    opacity: 0;
    display: none;
}

/** Rating Overlay */

.overlay {
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.6);
    z-index: 1000;
}

.overlay.hide {
    display: none;
}

.modal {
    -webkit-box-shadow: 0 6px 15px 0 rgba(0,0,0,.2);
    box-shadow: 0 6px 15px 0 rgba(0,0,0,.2);
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    margin: 0;
    z-index: 1;
    width: calc(100% - 2rem);
    max-width: 18.75rem;
    overflow: hidden;
}

.messageBanner, .modal {
    border: 0;
    text-align: center;
    font-size: .9rem;
    -webkit-box-shadow: 0 0.1rem 0.1rem 0 rgba(32,34,40,.05);
    box-shadow: 0 0.1rem 0.1rem 0 rgba(32,34,40,.05);
    border-radius: .625rem!important;
    margin-bottom: 1rem;
}

.modal, .overlay {
    position: absolute;
}

.modal__rating {

}

.rating {

}

.rating__innerContainer {
    padding: 1rem;
    background-color: #fff;
}

.modal__row {
    text-align: right;
}

.modal__closeIcon {
    color: #6c7380;
}

.modal__row .modal__closeIcon {
    cursor: pointer;
    padding-top: .25rem;
}

.minimize__icon {
    height: .8rem;
}

.rating__lastAgent {
    padding: 1rem 0;
}

.lastAgent {

}

.lastAgent__avatar {

}

.rating__lastAgent .lastAgent__avatar {
    display: block;
    margin: 1rem auto .5rem;
    border-radius: 50%;
    width: 4.75rem;
    height: 4.75rem;
}

.lastAgent__name {

}

.rating__lastAgent .lastAgent__name {
    margin: .25rem auto;
    color: #64707f;
    font-size: 1rem;
}

.modal__textContent {
    padding: 0;
    max-width: 80%;
    display: block;
    margin: 1rem auto;
    color: #abafb8;
    margin-top: .5rem;
}

.rating__buttonGroup {

}

.buttonGroup {
    text-align: center;
    position: relative;
    margin-top: 2rem;
    display: flex;
}

.buttonGroup__button {
    position: relative;
    font-family: Nano-Sans,sans-serif;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: none;
    border: 1px solid #d8dee5;
    display: inline-block;
    width: 50%;
    font-size: 1rem;
    line-height: 1rem;
    color: #64707f;
    padding: 1rem .3rem;
    font-weight: 400;
}

.buttonGroup__button.selected {
    background-color: aliceblue;
}

.buttonGroup button:first-of-type {
    border-bottom-left-radius: .5rem;
    border-top-left-radius: .5rem;
}

.buttonGroup button:last-of-type {
    border-bottom-right-radius: .5rem;
    border-top-right-radius: .5rem;
}

.buttonGroup__button+button {
    margin-left: -1px;
}

.rating__rateText {
    font-size: 1rem;
    padding-top: .25rem;
}

.rating__comment {
    font-family: Nano-Sans,sans-serif;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid #dde2e6;
    border-radius: .375rem;
    background-color: #e9eef2;
    font-size: 1rem;
    outline: none;
    display: block;
    width: 100%;
    padding: .625rem;
    margin-top: 1rem;
    resize: none;
    line-height: 1.5rem;
}

.modal__submitButton {
    background-color: #3a79e7;
    display: block;
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0;
    font-size: 1rem;
    line-height: 2.5rem;
    color: #fff;
    font-weight: 600;
    padding: .625rem 0;
    margin-top: -1px;
}